body {
  padding-top: 20px;
}
.link {
  stroke: #efefef;
}
.nodetext {
  pointer-events: none;
  font: 12px sans-serif;
}
circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}
line.link {
  stroke: #efefef;
  stroke-opacity: .6;
}
#graph {
  z-index: -1;
}
#panel {
  float: left;
}